
/* Base Stylings */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: black;
    font: 1em "Helvetica", sans-serif;
}


/* Navigation Stylings */

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: yellow;
}

nav a:active {
    color: black;
}

nav ul {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
}

nav li {
    display: inline;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-right: 5px;
}

/* Title Section */

header {
    height: 560px;
    width: 100%;
    background: linear-gradient(rgba(255, 5, 222, 0.966), transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                url(images/lady-gaga-banner.png) no-repeat center;
                
    background-size: cover;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-family: "Girassol", sans-serif;
    font-size: 14rem;
    margin: 0 auto 0 auto;
    padding-top: 1rem;
    letter-spacing: 1rem;
    word-spacing: 11.875rem;
    text-shadow: 4px 4px 5px white;
}

.subtitle {
    font-family: "Girassol", sans-serif;
    font-size: 4rem;
    text-shadow: 4px 4px 5px white;
}

/* Main Body */

.wrapper {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    background-color: black;
    border-radius: 4%;
    padding: 30px 0;
}

/* Image Section */

#img-div {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#img {
    width: 80%;
    border: 1px solid black;
    padding: 10px;
}

#img-caption {
    font-size: 1.4rem;
    color: white;
}

/* Timeline Section */


.timeline-title {
    font-family: "Girassol", sans-serif;
    font-size: 5rem;
    color: white;
    margin: 1rem auto;
    text-align: center;
    text-shadow: 4px 4px 5px rgba(255, 5, 222, 0.966);
}

.timeline li {
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.4rem;
    list-style: none;
    color: white;
}

.quote {
    color: white;
    font-size: 1.3rem;
    font-family: "Girassol";
}

#external-links {
    margin-top: 20px;
    font-size: 1.5rem;
    color: white;
}

footer {
    text-align: center;
    background-color: slategray;
    margin-bottom: 0px;
    padding-bottom: 20px;
}